.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999 !important;
  opacity: 0;
  box-shadow: 0 1vmax 3vmax rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  transform: translateX(-100vw);
}
.mobile-menu-container {
  width: 60vw;
  height: 100vh;
  padding: 1vmax;
  background-color: #b6986a;
}
.mobile-menu.active {
  opacity: 1;
  transform: translateX(0);
}
.mobile-menu-container > h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.mobile-menu-container > ul {
  padding: 3vmax;
  padding-left: 8vmax;
  display: flex;
  flex-direction: column;
  gap: 2vmax;
  list-style: none;
}
.mobile-menu-container > ul > li > a {
  text-decoration: none;
  color: #fbeec1;
  letter-spacing: 0.06vmax;
  position: relative;
}

@media screen and (max-width: 770px) {
  .mobile-menu {
    display: block;
  }
}
