.footer {
  margin-top: 2vmax;
  padding: 2vmax;
  font-size: 1.1vmax;
  letter-spacing: 0.04vmax;
  text-align: center;
  background: linear-gradient(90deg, #7e793a 0%, #5b572a 100%);
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 1.4vmax;
  }
}
